@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

:root {
    font-family: roboto;
    
}

html {
    font-size: 18px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;  
    grid-template-areas:
    'sidebar header'
    'sidebar content';
}


/*HEADER*/

header {
    grid-area: header;
    background-color: white;
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'search control'
    'hithere usermenu';
    box-shadow: 0px 4px 10px rgb(87, 87, 87);
    
}

.searchbar {
    grid-area: search;
    display: flex;
    justify-content: flex-end;;
    align-items:center;
    flex-direction: row-reverse;
    padding-left: 20px;
}

#search {
    width: 30vw;
    height: 30px;
    border-radius: 30px;
    background-color:rgb(224, 222, 222);
    border-style: none;
}

.searchbar > img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.user {
    grid-area: control;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 60px;

}

#notificationbtn {
    width: 20px;
    height: 20px;
    padding: 20px;
}

#userprofilepic {
    width: 40px;
    height: 40px;
    padding: 20px;
}

.hiuser {
    grid-area: hithere;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    grid-template-areas: 
    'image hithere'
    'image name';
    width: 500px;
    margin-bottom: 20px;
}

.hiuser > img {
    height: 60px;
    width: auto;
    grid-area: image;
    padding-left: 20px;
    padding-top: 20px;
}

.hiuser > div {
    font-size: .8rem;
    grid-area: hithere;
    padding-top: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.hiuser > h2 {
    grid-area: name;
    margin-top: 0;
    font-size: 1.4rem;
    width: 600px;

}

.usermenu {
    grid-area: usermenu;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.usermenubtn {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(0, 127, 201);
    color: white;
    border-style: none;
    font-size: .8rem;
    font-weight: bold;
    margin: 30px;
}

/*SIDEBAR*/

sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    background-color: rgb(0, 127, 201)
}

.sidebarheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.sidebarheader > img {
    width: 50px;
    padding: 0px 20px 0px 30px;
}

.sidebartop {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sidebarbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebarbtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.sidebarbtn > img {
    width: 30px;
    padding: 0px 20px 0px 30px;
}

/*MAINCONTENT*/

maincontent {
    grid-area: content;
    display:grid;
    grid-template-rows:10px 2fr 10px 2fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'header announcementsheader'
    'yourprojects announcements'
    'yourprojects trendingheader'
    'yourprojects trending';
    gap: 35px;
    padding: 30px 30px 0px 30px;
    background-color:rgb(224, 222, 222);
}


.yourprojects {
    grid-area: yourprojects;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

#yourprojectsheader {
    grid-area: header;
    font-size: 1.3rem;
    font-weight: 600;
}
.projects {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 10px rgb(87, 87, 87);
    border-left: 10px solid rgb(255, 198, 43);
}

.projects > .images {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

.images > img {
    height: 25px;
    padding: 10px;
}
.projects > div {
    font-size: 1em;
}

.projects > h3 {
    font-weight: 600;
    font-size: 1rem;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    background-color: white;
    gap: 15px;
    padding: 25px;
    box-shadow: 0px 4px 10px rgb(87, 87, 87);
    
}

#announcementsheader {
    grid-area: announcementsheader;
    font-size: 1.3rem;
    font-weight: 600;
}

.announce {
    font-size: .8rem;
}

.trending {
    grid-area: trending;
    background-color: white;
    gap: 10px;
    box-shadow: 0px 4px 10px rgb(87, 87, 87);
}

#trendingheader {
    grid-area: trendingheader;
    font-size: 1.3rem;
}

.trendingusers {
    display: grid;
    grid-template: 1fr/ 1fr 2fr;
    grid-template-areas:
    'photo user'
    'photo title';
    padding-top: 20px
}

.trendingusers > img {
    grid-area: photo;
    width: 40px;
    justify-self: center;
}

.trendingusers > div {
    font-size: 0.9rem;
}

.username {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
}

h2 {
    margin-bottom: 5px;
    margin-top: 0px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}
