html {
    font-size: 30px;
}

body {
    background-color: rgb(165, 165, 165);
    height: 100vh;

}

.gridcontainer {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr;  
    grid-template-areas:
    'sidebar header'
    'sidebar content';
    
    
}

/*HEADER*/

header {
    grid-area: header;
    background-color: white;
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'search control'
    'hithere usermenu';
}

.searchbar {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items:center;
}

.user {
    grid-area: control;
    display: flex;
    justify-content: flex-end;

}

.hiuser {
    grid-area: hithere;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usermenu {
    grid-area: usermenu;
    display: flex;
    justify-content: space-around;
}

/*SIDEBAR*/

sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    background-color: rgb(28, 173, 221);
}

.sidebarheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}

.sidebartop {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sidebarbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebarbtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

}

/*MAINCONTENT*/

maincontent {
    grid-area: content;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    'yourprojects announcements'
    'yourprojects trending';
    gap: 15px;
    padding: 30px 30px 0px 30px;
}

.yourprojectscontainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 15px;
    
}

.yourprojects {
    grid-area: yourprojects;
}

.projects {
    background-color: white;
    padding: 30px;
}

.projects > div {
    font-size: 1em;
}

.images {

}

.announcementscontainer {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    background-color: white;
    gap: 15px;
    padding: 15px;
    
}

.announcements {
    grid-area: announcements;
    
}

.announce {
    
}



.trendingcontainer {
    background-color: white;
    gap: 15px;
    padding: 15px;
    
}

.trending {
    grid-area: trending;
}

.trendingusers {

}

